h1 {
    background-color: rgb(255, 238, 0);
    color: darkblue;
    text-align: center
}

p {
    background-color: palegreen;
}

body {
    background-color: rgb(230, 173, 229);
}
/* selector {
    property: value;;
} */

.bg-red-h1{
    background-color: red;
    text-align: center;
    /* padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px; */

    padding: 20px 50px 20px 50px;
}

.bg-blue-h1{
    background-color: blue;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif
    font-size: small;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: underline;
}
#pg-1 {
    background-color: lightblue;
}
* {
    background-color: lightpink;
    margin: 0;
    padding: 0;
}
